parameters:
    octopouce.advertising.repository.advert.class: Octopouce\AdvertisingBundle\Repository\AdvertRepository
    octopouce.advertising.repository.adzone.class: Octopouce\AdvertisingBundle\Repository\AdzoneRepository
    octopouce.advertising.repository.campaign.class: Octopouce\AdvertisingBundle\Repository\CampaignRepository

services:
    Octopouce\AdvertisingBundle\:
        resource: '../../{Controller,Repository}'
        autowire: true
        autoconfigure: true
        public: true

    octopouce.advertising.repository.advert:
        class: "%octopouce.advertising.repository.advert.class%"
        tags:  ['doctrine.repository_service']

    octopouce.advertising.repository.adzone:
        class: "%octopouce.advertising.repository.adzone.class%"
        tags:  ['doctrine.repository_service']

    octopouce.advertising.repository.campaign:
        class: "%octopouce.advertising.repository.campaign.class%"
        tags:  ['doctrine.repository_service']