{% extends 'admin/layout.html.twig' %}

{% block main %}
    <section class="dashboard padding-filter">
        <div class="row">
            <div class="col s6 m6 l3">
                <div class="box">
                    <div class="title">Clicks</div>
                    <div class="content">
                        2
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="box">
                    <div class="title">Impressions</div>
                    <div class="content">
                        2
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="box">
                    <div class="title">CTR</div>
                    <div class="content">
                        2%
                    </div>
                </div>
            </div>

            <div class="col s6 m6 l3">
                <div class="box">
                    <div class="title">Date</div>
                    <div class="content">
                        2
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">Adzones</div>

            <div class="col s6 m6 l3">
                <div class="box">
                    <div class="title">Clicks</div>
                    <div class="content">
                        2
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}