<div class="row">
    <div class="col s6 m6 l3">
        <div class="box">
            <div class="title">Clicks</div>
            <div class="content">
                {{ clicks }}
            </div>
        </div>
    </div>
    <div class="col s6 m6 l3">
        <div class="box">
            <div class="title">Impressions</div>
            <div class="content">
                {{ impressions }}
            </div>
        </div>
    </div>
    <div class="col s6 m6 l3">
        <div class="box">
            <div class="title">CTR</div>
            <div class="content">
                {% if impressions %}
                    {{ (clicks * 100) / impressions }}%
                {% else %}
                    -
                {% endif %}
            </div>
        </div>
    </div>
    {% if today is defined and today %}
        <div class="col s6 m6 l3">
            <div class="box">
                <div class="title">Statistic of day</div>
                <div class="content">
                    {{ 'now'|date('d/m/Y') }}
                </div>
            </div>
        </div>
    {% endif %}
</div>